*{
    margin: 0;
    padding: 0;
}

.Nav{
    height:80px;
    width: 100vw;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.Nav a {
  text-decoration: none;
  color: black;
 font-size: xx-large;
}
