*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.Nav{
    height:80px;
    width: 100%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.Nav a {
  text-decoration: none;
  justify-content:first baseline;
  color:black;
  padding: 5px 15px;
  font-size: 25px;
  transition: color 0.3s ease;
  position: relative;
}
.Nav a:hover {
  color:rgb(128 0 32 );
}
.Nav a::before{
  content: '';
  position:absolute;
  top: 0;
  left:0;
  width:0%;
  height: 100%;
  border-bottom: 2px solid rgb(128 0 32 );
  transition: 0.4s linear;
}
.Nav a:hover::before{
  width: 100%;
}

