.Footer{
    background-color: black;
    color: white;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: normal;
    bottom: 0;
}
.Footer p{
    font-size: 20px;
}